{% extends 'layout.twig' %}
{% import 'macro/form_bootstrap.twig' as form %}
{% block head %}
    <title>Administration</title>
{% endblock %}
{% block content %}
    <div class="text-center mb-3"><h1>Administration</h1></div>
    <div class="mb-4"><h3>Gestion des articles</h3></div>
    <div class="row ">
        <div class="mr-2">
            <p><a href="index.php?p=add_post" class="btn btn-primary">Ajouter un article</a>
                {% if comments %}
                <a href="index.php?p=manage_comment" class="btn btn-danger mr-3">Gestion des commentaires</a></p>
            {% endif %}
        </div>
        <div class="ml-2">
            <form action="index.php?p=add_category" method="post" class="form-inline">
                <div class="mr-2">
                    {{ form.input('name', null, null, {placeholder: 'Nouvelle catégorie ?'}) }}
                </div>
                <div class="input-group-append">
                    {{ form.submit('Créer', {class: 'btn-success'}) }}
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center" scope="col">Id</th>
                <th class="text-center" scope="col">Titre</th>
                <th class="text-center" scope="col">Auteur</th>
                <th class="text-center" scope="col">Date d'edition</th>
                <th class="text-center" scope="col">Dernière modification</th>
                <th class="text-center" scope="col">Catégories</th>
                <th class="text-center" scope="col">Publié</th>
                <th class="text-center" scope="col">Commentaires</th>
                <th class="text-center" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td scope="row">{{ post.id }}</td>
                    <td><a href="index.php?p=post&idArt={{ post.id }}">{{ post.title|capitalize }}</a></td>
                    <td class="text-xl-center">{{ post.author|capitalize }}</td>
                    <td class="text-xl-center">{{ post.dateAdded }}</td>
                    <td class="text-xl-center">{{ post.dateAmended }}</td>
                    <td class="text-xl-center">{{ post.category|capitalize }}</td>
                    <td class="text-xl-center">
                        {% if post.publish == 'published' %}
                            <span class="badge badge-success">Publié</span>
                        {% else %}
                            <span class="badge badge-warning">Dépublié</span>
                        {% endif %}</td>
                    <td class="text-xl-center">{{ post.commentsStatusNumber }}</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action sur l'article
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                <a href="index.php?p=update_post&idArt={{ post.id }}" class="dropdown-item">Modifier</a>
                                <a href="index.php?p=delete_post&idArt={{ post.id }}" class="dropdown-item"
                                   onclick="return(confirm('La suppression est définitive, êtes-vous sûr de vouloir continuer ?'));">Supprimer</a>
                                {% if post.publish == 'published' %}
                                    <a href="index.php?p=publish_post&idArt={{ post.id }}&publish=Waiting"
                                       class="dropdown-item">Dépublier</a>
                                {% else %}
                                    <a href="index.php?p=publish_post&idArt={{ post.id }}&publish=published"
                                       class="dropdown-item">Publier</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="my-4 col-lg-12"><h3>Gestion des utilisateurs</h3></div>
        <table class="table table-bordered col-lg-6">
            <thead>
            <tr>
                <th class="text-center" scope="col">Id</th>
                <th class="text-center" scope="col">nom</th>
                <th class="text-center" scope="col">Qualité</th>
                <th class="text-center" scope="col">Status</th>
                <th class="text-center" scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users  %}
            <tr>
                <td class="text-xl-center">{{ user.id }}</td>
                <td class="text-xl-center">{{ user.username|capitalize }}</td>
                <td class="text-xl-center">{{ user.quality|capitalize }}</td>
                <td class="text-xl-center">
                    {% if user.status %}
                        <span class="badge badge-success">Actif</span>
                    {% else %}
                        <span class="badge badge-warning">Inactif</span>
                    {% endif %}
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action sur l'utilisateur
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if false == user.status %}
                                <a class="dropdown-item"
                                   href="index.php?p=update_user_status&userId={{ user.id }}&status=1">
                                    Activer compte</a>
                            {% else %}
                                <a class="dropdown-item"
                                   href="index.php?p=update_user_status&userId={{ user.id }}&status=0">
                                    Désactiver compte</a>
                            {% endif %}
                            {% if 'admin' == user.quality %}
                                <a class="dropdown-item"
                                   href="index.php?p=update_user_quality&userId={{ user.id }}&quality=user">
                                    Nommer utilisateur</a>
                            {% else %}
                                <a class="dropdown-item"
                                   href="index.php?p=update_user_quality&userId={{ user.id }}&quality=admin">
                                    Nommer administrateur</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}