{% extends 'layout.twig' %}
{% import 'macro/form_bootstrap.twig' as form %}
{% block head %}
<title>Connexion</title>
{% endblock %}
{% block content %}
<div class="row ">
    <div class="col-sm-5">
        <h2 class="text-center">Authentification</h2><br>
        <form action="../public/index.php?p=login" method="post">
            {{ form.input('username', 'Utilisateur', null, {attribut: 'required'}) }}
            {{ form.input( 'password', 'Mot de passe', null, {type: 'password', attribut: 'required'}) }}
            <div class="form-inline">
                {{ form.submit('Valider') }}
                <a href="index.php?p=reset_password" class="ml-5">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
    <div class="offset-sm-2 col-sm-5">
        <h2 class="text-center">Inscription</h2><br>
        <form action="../public/index.php?p=registration" method="post">
            {{ form.input('username', 'Utilisateur', null, {attribut: 'required'}) }}
            {{ form.input('email', 'Email', null, {attribut: 'required'}) }}
            {{ form.input('password', 'Mot de passe', null ,{type: 'password', attribut: 'required'}) }}
            {{ form.input('password2', 'Vérification du mot de passe', null ,{type: 'password', attribut: 'required'}) }}
            {{ form.submit('Valider', {class: 'btn-success'}) }}
        </form>
    </div>
</div>
{% endblock %}