{% extends 'layout.twig' %}
{% block head %}
    <title>Gestion des articles</title>
{% endblock %}
{% block content %}
    <div class="text-center"><h2>Gestionnaire des commentaires </h2>
    </div><br>
    <table class="table table-bordered">
    <thead>
    <tr>
        <th class="text-center" scope="col">Id</th>
        <th class="text-center" scope="col">Content</th>
        <th class="text-center" scope="col">Auteur</th>
        <th class="text-center" scope="col">date de création</th>
        <th class="text-center" colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
        <tr>
            <th class="text-center">{{ comment.id }}</th>
            <th class="text-center">{{ comment.content }}</th>
            <th class="text-center">{{ comment.username }}</th>
            <th class="text-center">{{ comment.dateAdded }}</th>
            <th>
                <div class="dropdown text-center">
                    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action sur le commentaire
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a href="index.php?p=publish_comment&&idComment={{ comment.id }}&publish=valid"
                           class="dropdown-item">Valider</a>
                        <a href="index.php?p=update_comment&idArt={{ comment.postId }}&idComment={{ comment.id }}"
                           class="dropdown-item">Modifier</a>
                        <a href="index.php?p=delete_comment&idComment={{ comment.id }}" class="dropdown-item"
                           onclick="return(confirm('La suppression est définitive, êtes-vous sûr de vouloir continuer ?'));">
                            Supprimer</a>
                    </div>
                </div>
            </th>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}