{% extends 'layout.twig' %}
{% block head %}
    <title>Liste - Blog</title>
{% endblock %}
{% block content %}
    {% for post in posts %}
        <div>
            <h2>
                <a href="../public/index.php?p=post&idArt={{ post.id }}">{{ post.title }}</a>
            </h2>
            <h5>{{ post.chapo | striptags() }}</h5>
            <p><em>Catégorie: {{ post.category }}</em></p>
            <a href="../public/index.php?p=post&idArt={{ post.id }}">lire l'article...</a>
            <p>Crée le : {{ post.dateAdded }}<br>{% if post.dateAmended %}
                    Modifié le : {{ post.dateAmended }}
                {% endif %}</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}