{% extends 'layout.twig' %}
{% import 'macro/form_bootstrap.twig' as form %}
{% block head %}
    <title>Article</title>
{% endblock %}
{% block content %}
    <div class="text-center"><h1>{{ post.title|capitalize }}</h1><br></div>
    <div>
        <h5>{{ post.chapo|raw }}</h5>
        <p>Catégorie: <em>{{ post.category|capitalize }}</em></p>
        <p class="text-justify">{{ post.content|raw }}</p>
        <p>Auteur : <strong>{{ post.author|capitalize }}</strong></p>
        <p>Posté le : {{ post.dateAdded|date("d/m/Y") }} à {{ post.dateAdded|date("H:i:s") }}<br>
            {% if post.dateAmended %}
                Modifié le : {{ post.dateAmended }}
            {% endif %}</p>
    </div><br>
    <div class="col-sm-4">
        <h4>Commentaires</h4><br>
        <form action="index.php?p=add_comment&idArt={{ post.id }}" method="post">
            {{ form.textarea('content', 'Votre commentaire :') }}
            {{ form.input('author', 'Votre nom :', session.username ) }}
            {{ form.submit('Soumettre', 'btn-primary') }}
        </form>
    </div>
    <div class="col-sm-4">
    {% for comment in comments %}
    <div class="row bg-light border rounded my-2 py-2 col-sm-12">
        <p><strong>{{ comment.author|capitalize }}</strong></p>
        <p class="col-md-12">{{ comment.content }}</p>
        <p><em>Posté le {{ comment.dateAdded|date("d/m/Y") }} à {{ comment.dateAdded|date("H:s:i") }}</em><br>
            {% if session.quality == 'admin' %}
            <a href="index.php?p=delete_comment&idArt={{ comment.postId }}&idComment={{ comment.id }}">Supprimer</a>
            <a href="index.php?p=update_comment&idArt={{ comment.postId }}&idComment={{ comment.id }}">Modifier</a></p>
        {% endif %}
    </div>
        {% endfor %}
{% endblock %}