{% extends 'layout.twig' %}
{% import 'form_bootstrap.twig' as form %}
{% block head %}
    <title>Article</title>
{% endblock %}
{% block content %}
    <div class="text-center"><h1>{{ post.title | capitalize }}</h1><br></div>
    <div>
        <h5>{{ post.chapo | capitalize | striptags }}</h5>
        <p><em>Catégorie: {{ post.category | capitalize }}</em></p>
        <p>{{ post.content | capitalize | striptags }}</p>
        <p><strong>{{ post.author | capitalize }}</strong></p>
        <p>Crée le : {{ post.dateAdded }}<br>
            {% if post.dateAmended %}
                Modifié le : {{ post.dateAmended }}
            {% endif %}</p>
    </div>
    <div class="col-sm-4">
        <h4>Commentaires</h4>
        <form action="index.php?p=add_comment&idArt={{ post.id }}" method="post">
            {{ form.textarea('content', 'Votre commentaire :') }}
            {{ form.input('username', 'Votre nom :', session.username ) }}
            {{ form.submit('Soumettre', 'btn-primary') }}
        </form>
    </div>
    <div class="col-sm-4">
    {% for comment in comments %}
    <div class="row p-3 mb-2">
        <p class="col-sm-12"><strong>{{ comment.username | capitalize }}</strong></p>
        <p class="col-sm-12">{{ comment.content | capitalize }}</p>
        <p class="col-sm-12">Posté le : {{ comment.dateAdded }}<br>
            {% if session.quality == 'admin' %}
            <a href="index.php?p=delete_comment&idArt={{ comment.postId }}&idComment={{ comment.id }}">Supprimer</a>
            <a href="index.php?p=update_comment&idArt={{ comment.postId }}&idComment={{ comment.id }}">Modifier</a></p>
        {% endif %}
        {% endfor %}
{% endblock %}