{% extends 'layout.twig' %}
{% import 'form_bootstrap.twig' as form %}
{% block head %}
    <title>Modification de mot de passe</title>
{% endblock %}
{% block content %}
    {% if get.userId and get.key %}
        <div class="text-center">
            <div class="offset-lg-4 col-lg-4">
                <form class="form-signin" action="index.php?p=update_password&userId={{ get.userId }}&key={{ get.key }}"
                      method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
                    <div class="my-auto">
                        {{ form.input('password', null, null, {type: 'password', attribut: 'required'}) }}
                        {{ form.input('password2', 'Saisissez un mot de passe indentique', null, {type: 'password', attribut: 'required'}) }}
                        {{ form.submit('valider', {class: 'btn-primary btn-block'}) }}
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <div class="offset-lg-4 col-lg-4">
                <form class="form-signin" action="index.php?p=reset_password" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Entrez votre adresse mail</h1>
                    {{ form.input('email', null, null, {type: 'email', attribut: 'required', placeholder: 'votre adresse mail'}) }}
                    {{ form.submit('Réinitialiser votre mot de passe', {class: 'btn-primary btn-block'}) }}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}